<div class="container">
    <div class="row>">
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-140" bs-affix>
                <input ng-model="query"> <fa name="search"></fa>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="page-header">People</h2>
            <ul class="media-list">
                <li class="media" ng-repeat="person in people | filter:query">
                    <div class="media-left">
                        <a class="thumbnail small-img people" href="{{ person['@id'] | localiseUrl }}">
                            <img class="img-responsive" ng-if="person.image" ng-src="{{ person.image }}">
                            <fa ng-if="!person.image" name="user" size="5" aria-hidden="true"></fa>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{ person['@id'] | localiseUrl }}" class="">{{ person.name }}</a></h4>
                        <p>
                            <span ng-if="person.birthDate"><b>Born:</b> {{ person.birthDate | dateFormat }}<br></span>
                            <span ng-if="person.deathDate"><b>Died:</b> {{ person.deathDate | dateFormat }}</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
