    <div class="row>">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="page-header">{{ event.name }}</h2>
                <div class="row">
                    <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt ng-if="event.startDate">
                            Start date
                        </dt>
                        <dd ng-if="event.startDate">
                            {{ event.startDate | dateFormat }}
                        </dd>
                        <dt ng-if="event.endDate">
                            End date
                        </dt>
                        <dd ng-if="event.endDate">
                            {{ event.endDate | dateFormat }}
                        </dd>
                        <dt ng-if="event.location">
                        Location
                        </dt>
                        <dd ng-if="location = location()">
                            <a href="{{ location['@id'] | localiseUrl }}">{{ location.name }}</a>
                        </dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive img-thumbnail" ng-src="{{ event.image }}">
                    </div>
                </div>

            <div ng-if="performers.length">
                <h3>Major actors</h3>
                <ul class="media-list">
                    <li class="media" ng-include="'modules/partials/list_item.html'" ng-repeat="item in performers">
                    </li>
                </ul>
            </div>
            <div ng-if="attendees.length">
                <h3>Attended</h3>
                <ul class="media-list">
                    <li class="media" ng-include="'modules/partials/list_item.html'" ng-repeat="item in attendees">
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>